
.vBody{
    margin-top:40px !important; 
}
.box-event{
    position: relative;
    display: flex;
    justify-content: center;
    /* margin-top: 10rem; */
}

.box-event-cont{
    position: relative;
    text-align: center;
}
.box-event-cont > label{
    letter-spacing: 3.6px;
    color: rgb(242,245,255);
    font-size: 15px;
    font-family: monserat;
    margin: 0;
}

.box-event-cont > h4{
    text-align: center;
    font-family: Skia;
    font-size: 40px;
    font-weight: 900;
    color: #191919;
}

.box-event-cont > p{
    text-align: center;
    font-family: monserat;
    font-size: 18px;
    color: #191919;
    width: 100%;
    margin: 0 auto;
    /* margin-top: 30px; */
}

.event-list{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    padding: 0;
}

.event-list li{
    height: 24rem;
    position: relative;
}

.event-btn{
    width: 91px;
    height: 46px;
    background-color: #fff;
    color: #00022c;
    border: 0;
    position: absolute;
    left: 15px;
    top: 15px;
}


.event-list li img{
    width: -webkit-fill-available;
    height: inherit;
}

.more-news2{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: -90px;
    text-decoration:none;
    margin-left:0
}

.more-news2 > button{
    width: 180px;
    height: 52px;
    background: white no-repeat padding-box;
    border: 1px solid rgb(9,43,130);
    opacity: 1;
    color: rgb(9,43,130);
    transform: translateX(60px);
    border-radius: 30px;
    margin-left:-90px

}

.more-news2 > button:hover{
   
    background: rgb(9,43,130);
    border: 1px rgb(9,43,130);
    color:white;
    text-decoration: none;
   
}

.rec-pagination {
    display: none !important;
    flex-wrap: wrap;
    position: relative!important;
    right: 164px!important;
    top: -7rem!important;
}

.rec-dot {
    border: 0!important;
    box-shadow: 20px 20px 20px 20px!important;
    box-shadow: none!important;
    background-color: #DBDBDB !important;
    width: 39px !important;
    height: 9px !important;
    border-radius: 5px !important;

}


.rec-dot:focus{
    outline: 0;
}


.rec-dot.rec-dot_active {
    box-sizing: border-box;
    padding: 0;
    transition: all .25s ease;
    margin: 5px;
    font-size: 1.3em;
    content: "";
    outline: none;
    border: none;
    background-color: #5DA7DF!important;
}

.rec-carousel-item > div >div{
        margin: 0!important;
        padding:  0 !important; 
        height: 600px;
        display: flex;
        flex-direction: column;
}

.rec-slider-container{
        margin: 0!important;
        padding:  0 !important; 
}

.vision-cont{
    margin-top:0 !important;
}

.moreEvents{
    width: 88%;
}

@media screen and (max-width: 960px) {



.rec-carousel-item > div >div {
    margin: 0!important;
    padding: 0 !important;
    height: 23rem;
}



.rec-pagination {
    display: flex;
    flex-wrap: wrap;
    position: relative!important;
    right: 0 !important;
    top: -3rem!important;
}

.v-hide{
    display: none;
}

.moreEvents{
    width: 100%;
}

.event-list li {
    height: 13rem;
    position: relative;
}

.more-news1 > button {
    width: 226px;
    height: 55px;
    background: #4CA149 0% 0% no-repeat padding-box;
    border: 1px solid #4CA149;
    opacity: 1;
    color: #fff;
    transform: translateX(0);
}
}

.left{
    margin-left:-600px;
    margin-top:-60px;
}
.E1{
    height:325px;
    border-radius:10px;


background-image:url('../assets/nativedancers.png');
       background-size:cover;
       background-repeat: no-repeat;
       background-position: center;

}


.E2{
    height:325px;
    border-radius:10px;


background-image:url('../assets/cake.png');
       background-size:cover;
       background-repeat: no-repeat;
       background-position: center;

}


.E3{
    height:325px;
    border-radius:10px;


background-image:url('../assets/flower.png');
       background-size:cover;
       background-repeat: no-repeat;
       background-position: center;

}


.info{
    background-color:white;
    color:black;
    margin-top:220px;
    padding:10px;
    height:65px
}
.rm2{
    margin-left:200px;
    color:grey

}
